body {
    margin: 0;
}

.main-section {
    background-image: url(../img/designer_1.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: contain;
    
    padding-left: 163px;
    padding-right: 165px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.header-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    height: 24px;
    width: 245px;
    margin-top: 18px;
    font-size: 18px; 
    color: rgba(80, 95, 152, 1);
}
.header-list-item {
    margin: 0;
}
.header-h1 {
    font-size: 26px;
    color: rgba(55, 68, 126, 1);
}
.buynow-button {
    width: 160px;
    height: 26px;
    background-color: rgba(17, 27, 71, 1);
    border: none;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    border-radius: 5px 5px 5px 5px;
}
.main-section-info {
    width: 539px;
    height: 421px;
    font-family: Arial, Helvetica, sans-serif;
}
.introduction {
    width: 539px;
    height: 316px;
    margin-top: 243px;
    margin-bottom: 69px;
}
.main-section-info-h1 {
    color: rgba(9, 17, 51, 1);
    font-size: 50px;
}
.main-section-p {
    color: rgba(80, 95, 152, 1);
    font-size: 18px;
}
.purchase-button {
    text-align: center;
    width: 189px;
    height: 36px;
    border: none;
    background-color: rgba(17, 27, 71, 1);
    margin-right: 30px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    border-radius: 3px 3px 3px 3px;
}
.learnmore-button {
    width: 189px;
    height: 36px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(9, 17, 51, 1);
    border-style: solid;
    border-color:rgba(9, 17, 51, 1);
    font-size: 16px;
    border-radius: 3px 3px 3px 3px;
}

.basement-section {
    background-color: rgba(255, 255, 255, 1);
    background-image: url(../img/Rectangle.svg);
    background-repeat: no-repeat;
    background-size: cover;

}

